# Training datasets
data/raw/
data/intermediate/
data/processed/
data/features/

# Generated reports
reports/**
!reports/
!reports/.gitkeep

# ML1 evaluation
!reports/commit_risk/
!reports/commit_risk/validation_model_comparison.csv
!reports/commit_risk/test_evaluation.csv

# ML2 evaluation
!reports/alert_prioritizer/
!reports/alert_prioritizer/cppcheck/
!reports/alert_prioritizer/cppcheck/validation_model_comparison.csv
!reports/alert_prioritizer/cppcheck/test_evaluation.csv
!reports/alert_prioritizer/clang/
!reports/alert_prioritizer/clang/validation_model_comparison.csv
!reports/alert_prioritizer/clang/test_evaluation.csv

# ML3
!reports/anomaly_detection/
!reports/anomaly_detection/.gitkeep

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
__MACOSX/
Thumbs.db